.sidebar-nav {
    width: 30%;
    height: 70%;
    float: left;
}

.sidebar-nav-items {
    list-style: none;
}

.form-field-label {
    float: left;
    margin-right: 5px;
    background-color: #82D591;
    min-width: 256px;
    text-align: right;
}

.form-div {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  display: table-cell;
  /* display: inline-block; */
}

.button-div {
    margin-top: 10px;
}

input[type=text], textarea {
    outline: none;
    border: 1px solid #DDDDDD;
    min-width: 256px;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 10px #3399FF;
  border: 1px solid #202340;
}

.alert-box {
    max-width: 95%;
}