.banner-div {
    margin-bottom: 30px;
}

.sidebar-nav {
    width: 25%;
    height: 70%;
    float: left;
}

.sidebar-nav-items {
    list-style: none;
}

.content-block {
    width: 70%;
    height: 70%;
    float: left;
}

.form-label-div {
    float: left;
    background-color: #82D591;
    min-width: 256px;
    text-align: right;
}

.form-label-span {
    margin-right: 5px;
}

.form-data-div {
    float: left;
    min-width: 55%;
    border: 1px solid #F1F1F1;
}

.form-data-span {
    margin-left: 5px;
}

.form-div {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  display: table-cell;
  min-width: 75%;
  /* display: inline-block; */
}

.button-div {
    margin-top: 10px;
}

input[type=text], textarea {
    outline: none;
    border: 1px solid #DDDDDD;
    min-width: 256px;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 10px #3399FF;
  border: 1px solid #202340;
}

.alert-box {
    max-width: 95%;
}

.num-td, .num-th {
    text-align: right;
}