{% extends "base_generic.html" %}

{% block content %}

<h1>{{ student.first_name }}, {{ student.surname }}, {{ student.given_name }}</h1>

<div class="form-div">

<h2>Current Balance&nbsp;&colon;&nbsp;&dollar;{{ student.balance }}</h2>

<form action="{% url 'student-operation' %}" id="form-id-1" method="post">
{% csrf_token %}

<div>
{% for field in form %}
<div class="form-label-div"><span class="form-label-span">{{ field.label_tag }}</span></div>
<div class="form-data-div"><span class="form-data-span">{{ field }}</span></div>
<div style="clear: both;"></div>
{% endfor %}
</div>

<input type='hidden' id='student-id' name='student-id' value={{ student.pk }}>
<input type='hidden' id='form-action' name='form-action' value="modify">

<div class="button-div">
<input type="button" value="Commit" name="modify" onclick="SetFormActionThenSubmit({'form-action':'modify'});">
<input type="button" value="Delete" name="delete" style="float: right;" onclick="FormPreSubmitConfirmation(this.name, {action:'delete'});">
<div style="clear: both;"></div>
</div>

</form>

</div>
{% endblock %}

