<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>System 2.0</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <!-- locally defined CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- JQuery -->
    <script src="{% static 'JQuery/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <!-- BootStrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js' %}"></script>
    <!-- SweetAlert -->
    <script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>
</head>
<body>

<div class="banner-div">
    <h1 style="height: 100%;"><a href="{% url 'index' %}">System 2.0</a></h1>
</div>

<div class="sidebar-nav">
    {% block sidebar %}
    <ul>
    <li class="sidebar-nav-items"><a href="{% url 'index' %}">Home</a></li>
    <li class="sidebar-nav-items"><a href="{% url 'student-create' %}">Add Student</a></li>
    </ul> 
    {% endblock %}
</div>

<div style="width: 70%; height: 70%; float: left;">
{% block content %}{% endblock %}
</div>

<div style="clear: both;"></div>

<script type='text/javascript'>FocusOnFirstTextInput();</script>

</body>
</html>
