{% extends "base_generic.html" %}

{% block content %}

{% if result_info %}
<div class="alert-box alert alert-info alert-dismissible">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{ result_info }}
</div>
{% endif %}

<div>
    <div id="filter-div">
    <form action="{{ filter_form_action }}" id="filter-form" method="get">
    <input type="text" id='keyword' placeholder="Enter Search Keyword">
    <button type="submit" id="filter-form-submit" style="border-radius: 6px;">Search</button>
    </form>
    </div>

    <hr/>

    <h1>All Students:</h1>
    <div id="navi_link" style="margin-bottom:5px;">
        {% if prev_link %}
        <a href="{% url 'index' %}{{ prev_link }}">Prev</a>
        {% endif %}

        {% if next_link %}
        <a href="{% url 'index' %}{{ next_link }}">Next</a>
        {% endif %}
    </div>
    <div class="table-responsive">
    {% if paginated_queryset %}
    <table class="table table-condensed table-hover">
    <!-- <table> -->
    <tr>
    <th class="num-th">Count</th>
    <th>First Name</th>
    <th>Surname</th>
    <th>Given Name</th>
    <th class="num-th">Balance</th>
    </tr>
    {% for student in paginated_queryset %}
    <tr>
    <td class="num-td">
    {{ forloop.counter }}
    </td>
    <td>
    <a href="{{ student.get_absolute_url }}">{{ student.first_name }}</a>
    </td>
    <td>
    {{ student.surname }}
    </td>
    <td>
    {{ student.given_name }}
    </td>
    <td class="num-td">
    &dollar;{{ student.balance }}
    </td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There is nobody stored in the database.</p>
    {% endif %}
    </div>
    <div id="navi_link">
        {% if prev_link %}
        <a href="{% url 'index' %}{{ prev_link }}">Prev</a>
        {% endif %}

        {% if next_link %}
        <a href="{% url 'index' %}{{ next_link }}">Next</a>
        {% endif %}
    </div>
</div>

{% endblock %}